body {
    background-color: whitesmoke;
    overflow-y: hidden;
    font-size: 20px;
    text-align: center;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


thead tr th {
    text-align: center;
}

.modal-book {
    padding: 10px;
    border: 2px solid;
    position: flex;
    flex-direction: row;


    margin-top: 150%;

    height: 30vh;
    width: 90vw;
    

    justify-content: center;
    text-align: center;
    border-radius: 10px;
    transition: all .5s;
}

.modal img {
    display: inline-block;
    height: 20vh;
    margin: auto;
}

.modal-book.open {
    margin-top: 5%;
    transition: all .5s;
}

.prev-btn,
.next-btn {
    margin-top: 30px;
}

footer {
    margin-top: auto;

}

h5 img {
    height: 100%;
}

.button-close {
    height: 35px;
}

h6 {
    overflow: hidden;
}

.rtl{
    direction: rtl;
}

.ltr{
    direction: ltr;
}